@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #333c34;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.34));
}

.navBar {
  color: rgb(233, 233, 233);
  height: 70px;
  position: relative;
  left: 0;
  right: 0;
  background-color: rgba(27, 122, 74, 0.628);
  padding-left: 30px;
  display: flex;
  box-shadow: 1px 1px 20px rgba(129, 255, 140, 0.677);
}

.colorGreen {
  color: #5bd665;
}

.login {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.login>button {
  font-size: 15px;
  padding: 10px;
  border: transparent;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.loginBtn {
  background-color: #5bd665;
  color: white;
}

.feedbackBtn {
  background-color: gray;
  color: white;
}

h1 {
  position: relative;
  top: 5px;
  flex: 1;
  right: 10px;
}

.subscript {
  position: relative;
  top: 15px;
  right: 25px;
  font-size: 0.6rem;
  font-family: 'Pacifico', cursive;
  font-weight: 100;
}

/* Input CSS */
.app {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.todo-container {
  border-radius: 1rem;
  width: 700px;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.todoForm {
  padding: 20px;
  width: 100%;
  font-size: 20px;
  display: flex;
  color: white;
  gap: 10px;
  justify-content: space-evenly;
}

.todoInput {
  outline: none;
  border-radius: 5px;
  padding: 8px;
  width: 80%;
  font-size: 20px;
  border: none;
}

.todoInput:focus {
  transition: 0.4s;
  outline: 3px solid #5bd665;
}

::placeholder {
  opacity: 0.3;
  color: black;
}

.btn {
  padding: 0.3rem 0.5rem;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

 .add-btn {
  padding: 0.3rem 0.5rem;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 0 30px;
}

.add-btn:hover {
  background-color: #66da6f;
  transition: 0.2s;
  outline: 3px solid rgb(206, 206, 206);
}
.add-btn:focus{
  outline: 3px solid rgb(255, 255, 255);
}

.add-btn:active {
  background-color: #28d036;
  transition: 0.2s;
}
.TodoList{
  color: white;
  padding: 0 30px;
}
.TodoList > h3{
  padding-bottom: 5px;
  border-bottom: 2px solid #28d036;
}

.allTodos {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  list-style: none;
  /* background-color:  */
}

.singleTodo {
  padding : 6px 10px 6px 20px;
  background-color: gray ;
  display: flex;
  border-radius: 5px;
  margin-bottom: 10px;
}

.todoText {
  flex: 1;
}

.green{
  background-color:#28d036;
}